# GOOGLE_MAPS_API_KEY: Required for Google Maps JavaScript API.
# Get one at https://console.cloud.google.com/google/maps-apis/credentials
# IMPORTANT: You MUST enable Billing on your Google Cloud Project for the Maps API to work.
# Learn more: https://developers.google.com/maps/gmp-get-started
VITE_GOOGLE_MAPS_API_KEY=""
